*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Parkinsans", sans-serif;
}

header{
    background-image: url("./assets-mobile/tech.jpg");
    background-size: cover;
    box-shadow: inset 0px 0px 80px black;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    padding: 7px;
    border-radius: 15px;
}

a:hover{
    background-color:rgb(101, 101, 101);
    color: white;
}


.intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.intro-textos{
    display:flex;
    flex-direction: column;
    text-align: center;
    text-align: justify;
    gap: 5px;
    margin-top: 3rem;
}

.intro-img{
    display: flex;
    justify-content: center;
   
}


.divisor{
    border-top: 0.2rem solid rgb(34, 34, 34);
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.sobre{
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-align: center;
    gap: 0.8rem;
}

.sobre-conteudo img{
    width: 90px;
    border-radius: 50px;
    border: 2px solid white; 
}

.sobre-texto{
    color: rgb(153, 153, 153);
    
}

.sobre-texto-main{
    margin-top: 20px;
    
}